<section id="happy-travelers">
    <h2 translate="global.happytravelers.title">Transandaluceros felices</h2>
    <div class="row aligned-row">
        <div class="col-sm-4">
            <div class="traveler">
                <img src="assets/images/traveler1.jpg" />
                <h4 translate="global.happytravelers.traveler1.name">Beatriz</h4>
                <h4><small translate="global.happytravelers.traveler1.from">La Palma del Condado</small></h4>
                <p translate="global.happytravelers.traveler1.text">
                    La ruta es fantástica, pero lo que de verdad vale la pena es coger la bicicleta hasta Madrid para conocer a Bernaco en persona, es maravilloso.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="traveler">
                <img src="assets/images/traveler2.jpg" />
                <h4 translate="global.happytravelers.traveler2.name">Patricia</h4>
                <h4><small translate="global.happytravelers.traveler2.from">Ronda</small></h4>
                <p translate="global.happytravelers.traveler2.text">
                    Me niego a que mi cabello pierda intensidad, por eso hago cicloturismo sin casco y no me depilo las piernas. No sé qué haría sin la Transandalus.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="traveler">
                <img src="assets/images/traveler3.jpg" />
                <h4 translate="global.happytravelers.traveler3.name">Juan</h4>
                <h4><small translate="global.happytravelers.traveler3.from">Playa de Doñana</small></h4>
                <p translate="global.happytravelers.traveler3.text">
                    La ruta es larga, pero está bien y noscara. Se echa de menos algún descenso del mundial para negociarlo con alforjas. Recomiendo el chuletero de Alcolea.
                </p>
            </div>
        </div>
    </div>
</section>
