<section id="happy-travelers">
    <h2 translate="global.happytravelers.title">Transandaluceros felices</h2>
    <div class="row aligned-row">
        <div class="col-sm-4" ng-repeat="traveler in visibleTravelers track by $index">
            <div class="traveler fade" ng-class="{'in':reveal}">
                <img  ng-src="{{traveler.image}}" />
                <h4>{{traveler.name}}</h4>
                <h4><small>{{traveler.from}}</small></h4>
                <p>
                    {{traveler.text}}
                </p>
            </div>
        </div>
    </div>
</section>
