<article style="background-image:{{stage.imageUrl}}">
    <header>
        <a class="form-control-static" ui-sref="province.detail({id:stage.province.id})">{{stage.province.name}}</a>
        <h1>{{stage.name}}</h1>
    </header>
    <section>
        <span class="form-control-static" marked="stage.description"></span>
    </section>
    <section class="well">
        <div ng-if="stage.track.contentType">
            <div class="panel">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
                    <ui-gmap-layer type="KmlLayer" options="map.kmlLayerOptions"></ui-gmap-layer>
                </ui-gmap-google-map>
            </div>
        
            <p>
                <a href="{{map.kmlLayerOptions.url}}" download="{{stage.track.name}}" target="_blank" translate="transandalus.stage.downloadTrack" class="btn btn-default">Download track</a>
                <a ng-if="stage.galleryURL || true" translate="transandalus.stage.galleryURL" src="{{stage.galleryURL}}" class="pull-right">GalleryURL</a>
            </p>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-4 col-lg-2" ng-if="stage.distanceTotal">
                <div class="panel panel-default">
                    <div class="panel-heading" translate="transandalus.stage.distanceTotal">DistanceTotal</div>
                    <div class="panel-body">{{stage.distanceTotal}} Km</div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2" ng-if="stage.distanceRoad">
                <div class="panel panel-default">
                    <div class="panel-heading" translate="transandalus.stage.distanceRoad">DistanceRoad</div>
                    <div class="panel-body">{{stage.distanceRoad}} Km</div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2" ng-if="stage.estimatedTime">
                <div class="panel panel-default">
                    <div class="panel-heading" translate="transandalus.stage.estimatedTime">EstimatedTime</div>
                    <div class="panel-body">{{stage.estimatedTime}} min</div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2" ng-if="stage.elevation">
                <div class="panel panel-default">
                    <div class="panel-heading" translate="transandalus.stage.elevation">Elevation</div>
                    <div class="panel-body">{{stage.elevation}} m</div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2" ng-if="stage.difficultyPhys">
                <div class="panel panel-default">
                    <div class="panel-heading" translate="transandalus.stage.difficultyPhys">DifficultyPhys</div>
                    <div class="panel-body" translate="{{'transandalus.Difficulty.' + stage.difficultyPhys}}">{{stage.difficultyPhys}}</div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2" ng-if="stage.difficultyTech">
                <div class="panel panel-default">
                    <div class="panel-heading" translate="transandalus.stage.difficultyTech">DifficultyTech</div>
                    <div class="panel-body" translate="{{'transandalus.Difficulty.' + stage.difficultyTech}}">{{stage.difficultyTech}}</div>
                </div>
            </div>
        </div>
    </section>

    <nav>
        <ul class="pager">
            <li class="previous" ng-if="stage.prevStage.id"><a ui-sref="stage.detail({id:stage.prevStage.id})" title="{{stage.prevStage.name}}"><span aria-hidden="true">&larr;</span> <span translate="transandalus.stage.prevStage">Previous stage</span></a></li>
            <li class="next" ng-if="stage.nextStage.id"><a ui-sref="stage.detail({id:stage.nextStage.id})" title="{{stage.nextStage.name}}"><span translate="transandalus.stage.nextStage">Next stage</span> <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
    <nav ng-if="stage.prevAltStage.id || stage.nextAltStage.id">
        <ul class="pager">
            <li class="previous" ng-if="stage.prevAltStage.id"><a ui-sref="stage.detail({id:stage.prevAltStage.id})" title="{{stage.prevAltStage.name}}"><span aria-hidden="true">&larr;</span> <span translate="transandalus.stage.prevAltStage">Alternative</span></a></li>
            <li class="next" ng-if="stage.nextAltStage.id"><a ui-sref="stage.detail({id:stage.nextAltStage.id})" title="{{stage.nextAltStage.name}}"><span translate="transandalus.stage.nextAltStage">Alternative</span> <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</article>
