<article class="stage">
    <div uib-carousel active="activeImage" no-wrap="false" interval="4000">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}">
        </div>
    </div>

    <div class="title-overlay negative center-block">
        <h2>{{stage.name}}</h2>
    </div>

    <div class="container">
        <h2>{{stage.title}}</h2>

        <section class="description" marked="stage.description">
        </section>

        <div class="stage-data">
            <div class="row row-centered">
                <div class="col-lg-2 col-centered" ng-if="stage.distanceTotal">
                    <div class="data-item">
                        <div class="data-title" translate="transandalus.stage.distanceTotal">DistanceTotal</div>
                        <div class="data-value">{{stage.distanceTotal}} Km</div>
                    </div>
                </div>
                <div class="col-lg-2 col-centered" ng-if="stage.distanceRoad">
                    <div class="data-item">
                        <div class="data-title" translate="transandalus.stage.distanceRoad">DistanceRoad</div>
                        <div class="data-value">{{stage.distanceRoad}} Km</div>
                    </div>
                </div>
                <div class="col-lg-2 col-centered" ng-if="stage.estimatedTime">
                    <div class="data-item">
                        <div class="data-title" translate="transandalus.stage.estimatedTime">EstimatedTime</div>
                        <div class="data-value">{{stage.estimatedTime}} min</div>
                    </div>
                </div>
                <div class="col-lg-2 col-centered" ng-if="stage.elevation">
                    <div class="data-item">
                        <div class="data-title" translate="transandalus.stage.elevation">Elevation</div>
                        <div class="data-value">{{stage.elevation}} m</div>
                    </div>
                </div>
                <div class="col-lg-2 col-centered" ng-if="stage.difficultyPhys">
                    <div class="data-item">
                        <div class="data-title" translate="transandalus.stage.difficultyPhys">DifficultyPhys</div>
                        <div class="data-value" translate="{{'transandalus.Difficulty.' + stage.difficultyPhys}}">{{stage.difficultyPhys}}</div>
                    </div>
                </div>
                <div class="col-lg-2 col-centered" ng-if="stage.difficultyTech">
                    <div class="data-item">
                        <div class="data-title" translate="transandalus.stage.difficultyTech">DifficultyTech</div>
                        <div class="data-value" translate="{{'transandalus.Difficulty.' + stage.difficultyTech}}">{{stage.difficultyTech}}</div>
                    </div>
                </div>
            </div>
        </div>

        <section class="map">
            <div ng-if="stage.track.contentType">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
                    <ui-gmap-layer type="KmlLayer" options="map.kmlLayerOptions"></ui-gmap-layer>
                </ui-gmap-google-map>
            </div>
        </section>

        <section class="buttons">
            <a href="{{map.kmlLayerOptions.url}}" download="{{stage.track.name}}" target="_blank" class="btn btn-default">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                <span translate="transandalus.stage.downloadTrack">Download track</span>
            </a>
        </section>

        <nav class="stage-nav">
            <div class="row">
                <div class="col-xs-6 left">
                    <a ng-if="stage.prevStage.id" ui-sref="stage.detail({id:stage.prevStage.id})" title="{{stage.prevStage.name}}" translate="transandalus.stage.prevStage">Previous stage</a>
                </div>
                <div class="col-xs-6 right">
                    <a ng-if="stage.nextStage.id" ui-sref="stage.detail({id:stage.nextStage.id})" title="{{stage.nextStage.name}}" translate="transandalus.stage.nextStage">Next stage</a>
                </div>
            </div>
            <div class="row" ng-if="stage.prevAltStage.id || stage.nextAltStage.id">
                <div class="col-xs-6 left">
                    <a ng-if="stage.prevAltStage.id" ui-sref="stage.detail({id:stage.prevAltStage.id})" title="{{stage.prevAltStage.name}}" translate="transandalus.stage.prevAltStage">Previous stage</a>
                </div>
                <div class="col-xs-6 right">
                    <a ng-if="stage.nextAltStage.id" ui-sref="stage.detail({id:stage.nextAltStage.id})" title="{{stage.nextAltStage.name}}" translate="transandalus.stage.nextAltStage">Next stage</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <ta-route-outline></ta-route-outline>
    </div>
    <div class="container">
        <ta-travelers></ta-travelers>
    </div>
</article>
