<section id="welcome" ng-cloak>
    <div uib-carousel active="activeImage" no-wrap="false" interval="4000">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}">
        </div>
    </div>

    <div id="title-overlay">
        <h1 translate="main.title" class="negative center-block">Bienvenidos a TransAndalus</h1>
        <p class="negative lead text-center" translate="main.subtitle">Una ruta en bicicleta de montaña de 2000 Km por Andalucía</p>
        <div class="row">
            <div class="visible-md-block visible-lg-block text-center">
                <span class="text-center" ng-repeat="province in provinces track by province.id">
                    <h4><a class="negative" ui-sref="province.detail({id:province.id})">{{province.name}}</a></h4>
                </span>
            </div>

            <div class="hidden-md hidden-lg text-center" ng-repeat="row in [1,2]">
                <div class="row">
                    <div class="col-xs-6 text-center" ng-repeat="province in provinces track by province.id" ng-if="$index >= (row -1)*4 && $index < (row)*4">
                        <h4><a class="negative" ui-sref="province.detail({id:province.id})">{{province.name}}</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="ciclotourism-steps">
    <h2 translate="main.ciclotourism.title">Cicloturismo en un click</h2>
    <div class="row">
    	<div class="col-sm-4">
    		<div class="text-center">
                <img src="assets/images/map.svg" />
    			<h3 translate="main.ciclotourism.step1.title">Planea la ruta</h3>
    			<p translate="main.ciclotourism.step1.body">
    				Elige destino acorde con tu nivel físico, el tiempo que tengas y tus apetencias: barrancos o valles, playa o montaña, ciudades o pueblos, ¡hay de todo y para todos!
    			</p>
    		</div>
    	</div>
    	<div class="col-sm-4">
    		<div class="text-center">
                <img src="assets/images/phone.svg" />
    			<h3 translate="main.ciclotourism.step2.title">Descarga el track</h3>
    			<p translate="main.ciclotourism.step2.body">
    				Accede a tus tramos seleccionados en tu sección personal "Mi aventura" y bájate los tracks de cada ruta gratis. También puedes guardar tramos para la próxima en "Mis favoritos".
    			</p>
    		</div>
    	</div>
    	<div class="col-sm-4">
    		<div class="text-center">
                <img src="assets/images/bike.svg" />
    			<h3 translate="main.ciclotourism.step3.title">¡A dar pedales!</h3>
    			<p translate="main.ciclotourism.step3.body">
    				Accede a la ruta desde tu móvil o gps y ¡a disfrutar de la gastronomía, la gente y los paisajes de Andalucía! No olvides bajarte un mapa off-line de la zona.
    			</p>
    		</div>
    	</div>
    </div>
</section>
<section id="route-outline">
    <h2 translate="main.outline.title">Trazado de la ruta</h2>
</section>
<section id="happy-travelers">
    <h2 translate="main.happytravelers.title">Transandaluceros felices</h2>
    <div class="row aligned-row">
        <div class="col-sm-4">
            <div class="traveler">
                <img src="assets/images/traveler1.png" />
                <h4 translate="main.happytravelers.traveler1.name">Beatriz</h4>
                <h4><small translate="main.happytravelers.traveler1.from">La Palma del Condado</small></h4>
                <p translate="main.happytravelers.traveler1.text">
                    La ruta es fantástica, pero lo que de verdad vale la pena es coger la bicicleta hasta Madrid para conocer a Bernaco en persona, es maravilloso.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="traveler">
                <img src="assets/images/traveler2.png" />
                <h4 translate="main.happytravelers.traveler2.name">Patricia</h4>
                <h4><small translate="main.happytravelers.traveler2.from">Ronda</small></h4>
                <p translate="main.happytravelers.traveler2.text">
                    Me niego a que mi cabello pierda intensidad, por eso hago cicloturismo sin casco y no me depilo las piernas. No sé qué haría sin la Transandalus.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="traveler">
                <img src="assets/images/traveler3.png" />
                <h4 translate="main.happytravelers.traveler3.name">Juan</h4>
                <h4><small translate="main.happytravelers.traveler3.from">Playa de Doñana</small></h4>
                <p translate="main.happytravelers.traveler3.text">
                    La ruta es larga, pero está bien y noscara. Se echa de menos algún descenso del mundial para negociarlo con alforjas. Recomiendo el chuletero de Alcolea.
                </p>
        </div>
        </div>

    </div>
</section>
