<section ng-cloak>
    <h1 translate="main.title" class="text-center">Bienvenidos a TransAndalus</h1>
    <p class="lead text-center" translate="main.subtitle">Una ruta en bicicleta de montaña de 2000 Km por Andalucía</p>

    <div class="row">
  		<div class="col-sm-6 text-center" ng-repeat="row in [1,2]">
  			<div class="row">
    		<div class="col-xs-6 col-sm-3 text-center" ng-repeat="province in provinces track by province.id" ng-if="$index >= (row -1)*4 && $index < (row)*4">
    			<h4><a ui-sref="province.detail({id:province.id})">{{province.name}}</a></h4>
    		</div>
    		</div>
    	</div>
  	</div>
</div>
</section>
<section>
    <h1 class="text-center">Cicloturismo en un click</h1>
</section>
