 <div class="vita-map-control">
     <form role="search">
         <div class="form-group" id="vita-search-container">
             <input type="text" id="vita-search-placeholder" class="form-control" placeholder="{{'transandalus.vita.search' | translate}}"/>
         </div>
         <div class="form-group">
             <label class="btn btn-default"  ng-model="showMarkers" uib-btn-checkbox>
                 {{'transandalus.vita.showMarkers' | translate}}
             </label>
             <label class="btn btn-default" ng-model="showServices" uib-btn-checkbox>
                 {{'transandalus.vita.showServices' | translate}}
             </label>
             <label class="btn btn-default" ng-model="showAlternatives" uib-btn-checkbox>
                 {{'transandalus.vita.showAlternatives' | translate}}
             </label>
             <label class="btn btn-default" ng-model="showLinks" uib-btn-checkbox>
                 {{'transandalus.vita.showLinks' | translate}}
             </label>
         </div>
     </form>
</div>
