 <div class="vita-map-control">
    <div>
        <nav class="navbar navbar-default">
            <div style="padding-left:15px">
                <ul class="nav navbar-left">
                    <li>
                        <button type="button" class="btn btn-default navbar-btn" aria-label="{{'transandalus.vita.showMenu' | translate}}" title="{{'transandalus.vita.showMenu' | translate}}" data-toggle="collapse" data-target="#vita-main-menu">
                            <span class="sr-only" translate="transandalus.vita.showMenu">Show menu</span>
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </button>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group" id="vita-search-container">
                        <input type="text" id="vita-search-placeholder" class="form-control" placeholder="{{'transandalus.vita.search' | translate}}"/>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div class="collapse" id="vita-main-menu">
        <div class="btn-group-vertical" role="group" data-toggle="buttons" style="width:100%">
            <label class="btn btn-default"  ng-model="showMarkers" uib-btn-checkbox>
                 {{'transandalus.vita.showMarkers' | translate}}
            </label>
            <label class="btn btn-default" ng-model="showServices" uib-btn-checkbox>
                {{'transandalus.vita.showServices' | translate}}
            </label>
            <label class="btn btn-default" ng-model="showAlternatives" uib-btn-checkbox>
                {{'transandalus.vita.showAlternatives' | translate}}
            </label>
            <label class="btn btn-default" ng-model="showLinks" uib-btn-checkbox>
                {{'transandalus.vita.showLinks' | translate}}
            </label>
        </div>
    </div>
</div>