<div>
    <h2 translate="transandalus.province.home.title">Provinces</h2>
    <jh-alert></jh-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span translate="transandalus.province.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="transandalus.province.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="province in provinces track by province.id">
                    <td><a ui-sref="province.detail({id:province.id})">{{province.id}}</a></td>
                    <td>{{province.code}}</td>
                    <td><a ui-sref="province.detail({id:province.id})">{{province.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
