<article style="background-image:{{province.imageUrl}}">
    <header>
        <h1>{{province.name}}</h1>
    </header>
    <section>
        <span class="form-control-static" marked="province.description"></span>
    </section>
    <section class="well">
        <div ng-if="province.track.contentType">
            <div class="panel">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
                    <ui-gmap-layer type="KmlLayer" options="map.kmlLayerOptions"></ui-gmap-layer>
                </ui-gmap-google-map>
            </div>
        
            <p>
                <a href="{{map.kmlLayerOptions.url}}" download="{{province.track.name}}" target="_blank" translate="transandalus.province.downloadTrack" class="btn btn-default">Download track</a>
            </p>
        </div>
    </section>
    <section class="panel panel-default">
        <header class="panel-heading" translate="transandalus.province.stages">Stages</header>
        
            <ul class="list-group">
                <li ng-repeat="stage in stages track by stage.id" class="list-group-item">
                    <a ui-sref="stage.detail({id:stage.id})">{{stage.name}}</a>
                </li>
                  
            </ul>
        
    </section>
</article>
