<article class="province">
    <div uib-carousel active="activeImage" no-wrap="false" interval="4000">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}">
        </div>
    </div>

    <div id="title-overlay" class="negative center-block">
        <h2>{{province.name}}</h2>
    </div>

    <div class="container">
        <h2>{{province.title}}</h2>

        <section class="description" marked="province.description">
        </section>

        <section class="map">
            <div ng-if="province.track.contentType">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
                    <ui-gmap-layer type="KmlLayer" options="map.kmlLayerOptions"></ui-gmap-layer>
                </ui-gmap-google-map>
            </div>
        </section>

        <section class="buttons">
            <a href="{{map.kmlLayerOptions.url}}" download="{{province.track.name}}" target="_blank" class="btn btn-default">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                <span translate="transandalus.province.downloadTrack">Download track</span>
            </a>
        </section>

        <section class="stages">
            <h2 translate="transandalus.province.stages">Stages</h2>

            <ul>
                <li ng-repeat="stage in stages track by stage.id">
                    <a ui-sref="stage.detail({id:stage.id})">{{stage.name}}</a>
                </li>
            </ul>
        </section>

        <stageskk province="province.id" stages="stages"></stageskk>
    </div>

    <div class="container-fluid">
        <ta-route-outline></ta-route-outline>
    </div>
    <div class="container">
        <ta-travelers></ta-travelers>
    </div>

</article>
