.article{
    padding: 50px 0px 50px 0px;
}

.the-project{
    img{
        width: 100%;
    }

    h4{
        text-align: right;
        font-weight: 600;
    }

    .row div{
        padding: 20px;
        text-align: justify;
    }
}
