#main-navbar{
    .navbar-toggle .icon-bar{
        background-color: $negative-color;
    }

    nav{
        @media screen and (min-width: 768px){
            position: absolute !important;

            background: rgba(255,255,255,0.5);
            height: 60px;

            .navbar-right .dropdown-menu{
                left: 50px;
            }
        }

        @media screen and (max-width: 767px){
            position: fixed !important;
        }

        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        border: 0;
        border-radius: 0;

        .navbar-toggle{
            z-index: 1;
        }

        .navbar-collapse {
            padding-left: 20px !important;
            padding-right: 20px !important;

            @media screen and (max-width: 767px){
                position: absolute;
                right: 0px;
                top: 0px;
                padding-right: 40px;
                background: $primary-color;
                text-align: left;
                width: 240px;
                max-height: 269px !important;
                box-shadow: none;
                z-index: 0;
            }
        }

        a{
            font-size: 1.3em;
            font-weight: bold;
            text-transform: uppercase;
            color: $primary-color !important;
            background-color: transparent !important;

            @media screen and (max-width: 767px){
                color: $negative-color !important;
            }

        }

        a:hover > span{
            border-bottom: 2px solid rgba(49, 127, 109, 0.5);

            @media screen and (max-width: 767px){
                border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            }
        }

        .active a > span{
            border-bottom: 2px solid $primary-color;

            @media screen and (max-width: 767px){
                border-bottom: 2px solid $negative-color;
            }
        }

        .dropdown-menu{
            background: $primary-color;

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            @media screen and (max-width: 767px) {
                background-color: transparent;
                margin-left: 14px;
            }

            a{
                display: inline-block;
                padding-left: 0px;
                padding-right: 0px;
                padding-bottom: 2px;
                margin-bottom: 10px;
                border-bottom: 2px solid transparent;
                color: $negative-color !important;

                @media screen and (max-width: 767px) {
                    margin-bottom: 5px;
                }
            }

            a:hover{
                border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.navbar-toggle.collapsed {
    .top-bar {
        transform: rotate(0);
    }
    .middle-bar {
        opacity: 1;
    }
    .bottom-bar {
        transform: rotate(0);
    }
}

.icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.middle-bar {
    opacity: 0;
}
.bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.flag{
    clip-path: circle(10px at center);
    @media screen and (min-width: 768px) {
        margin-left: 10px;
    }
    margin-right: 5px;
}
