.province{
    @media screen and (max-width: 767px){
        margin-left: -15px;
        margin-right: -15px;
    }

    .carousel{
        @media screen and (min-width: 768px){
            min-height: 500px;
            max-height: 770px;
        }

        @media screen and (max-width: 767px){
            height: 250px;
        }

        div[uib-slide]{
            img{
                @media screen and (min-width: 768px){
                    height: initial;
                    min-height: 500px;
                    max-height: 770px;
                }

                @media screen and (max-width: 767px){
                    height: 250px;
                }

                object-fit: cover;
                width: 100%;
            }

        }
    }

    .title-overlay{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    h2{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .description{
        @media screen and (min-width: 768px){
            margin-left: 5em;
            margin-right: 5em;
        }

        @media screen and (max-width: 767px){
            margin-left: 2em;
            margin-right: 2em;
        }
    }

    .map{
        margin-top: 4em;
        margin-bottom: 2em;

        .angular-google-map-container {
            height: 400px;
        }
    }

    .stages{
        margin-top: 1em;
        margin-bottom: 2em;

        h2{
            margin-bottom: 0.3em;
        }

        @media screen and (max-width: 767px){
            margin-left: 2em;
            margin-right: 2em;
        }

        ul {
            list-style-type: none;
            padding: 0px;

            li{
                font-size: 1.2em;
                line-height: 2em;

                a{
                    color: $text-color;
                }
            }
        }
    }
}
