.stage{
    @media screen and (max-width: 767px){
        margin-left: -15px;
        margin-right: -15px;
    }

    .carousel{
        @media screen and (min-width: 768px){
            min-height: 500px;
            max-height: 770px;
        }

        @media screen and (max-width: 767px){
            height: 250px;
        }

        div[uib-slide]{
            img{
                @media screen and (min-width: 768px){
                    height: initial;
                    min-height: 500px;
                    max-height: 770px;
                }

                @media screen and (max-width: 767px){
                    height: 250px;
                }

                object-fit: cover;
                width: 100%;
            }

        }
    }

    .title-overlay{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    h2{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .description{
        @media screen and (min-width: 768px){
            margin-left: 5em;
            margin-right: 5em;
        }

        @media screen and (max-width: 767px){
            margin-left: 2em;
            margin-right: 2em;
        }
    }

    .map{
        margin-top: 4em;
        margin-bottom: 4em;

        .angular-google-map-container {
            height: 400px;
        }
    }

    .buttons{
        text-align: center;
    }

    .stage-nav{
        margin: 2em;

        .left{
            text-align: left;
        }

        .right{
            text-align: right;
        }

        a{
            color: $primary-color;
            font-size: 1.2em;
            font-weight: 600;
            line-height: 2em;
        }
    }

    .stage-data{
        margin-top: 2em;
        margin-bottom: 2em;

        @media screen and (max-width: 767px){
            margin-left: 3em;
            margin-right: 3em;
        }

        .col-centered{
            @media screen and (max-width: 767px){
                display: block;
            }
        }

        .data-item{
            margin-top: 1.5em;

            .data-title{
                text-align: center;
                font-size: 1.2em;
                color: $text-color;
                border-bottom: solid $primary-color 1px;
                margin-bottom: 0em;
                padding-bottom: 0.2em;
            }

            .data-value{
                text-align: center;
                font-size: 2.2em;
                font-weight: 900;
                color: lighten($text-color, 10%);
            }

        }
    }
}
