// Theme by Beatriz Doblas for TransAndalus site
$font-stack: Raleway, Helvetica, sans-serif;
$primary-color: #317f6d;
$negative-color: white;

.negative{
    color: $negative-color !important;
    text-shadow: 1px 1px black;
}

body{
    background-color: $negative-color;
    font-size: 14px;
    font-family: $font-stack;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

     @media screen and (max-width: 767px){
         font-size: 2em;
     }
 }

h2 {
    font-size: 3.3em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    margin: 1.5em 0px 1.5em 0px;

    @media screen and (max-width: 767px){
        font-size: 1.8em;
    }
}

h3{
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
}

p{
    font-size: 1.5em;
    color: #4d4d4d;
}

.aligned-row {
    display: flex;
    flex-flow: row wrap;

    &::before {
        display: block;
    }
}

@import 'main-navbar';
@import 'home';
@import 'route-outline';
@import 'footer';

.angular-google-map-container {
    height: 400px;
}
