// Theme that implements design by Beatriz Doblas for TransAndalus site
$font-stack: Raleway, Helvetica, sans-serif;
$primary-color: #317f6d;
$negative-color: white;
$text-color: #4d4d4d;

.negative{
    color: $negative-color !important;
    text-shadow: 1px 1px black;
}

body{
    background-color: $negative-color;
    font-size: 14px;
    font-family: $font-stack;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

     @media screen and (max-width: 767px){
         font-size: 2em;
     }
 }

h2 {
    font-size: 3.3em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    margin: 1.5em 0px 1.5em 0px;

    @media screen and (max-width: 767px){
        font-size: 1.8em;
    }
}

h3{
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
}

p{
    text-align: center;
    font-size: 1.2em;
    color: $text-color;

    @media screen and (max-width: 767px){
        font-size: 1em;
    }
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
.aligned-row {
    display: flex;
    flex-flow: row wrap;

    &::before {
        display: block;
    }
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.btn{
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em;
    border: 3px solid transparent;
    border-radius: 0px;

    .glyphicon{
        margin-right: 0.1em;
    }
}

.btn-default{
    color: $primary-color;
    background-color: $negative-color;
    border-color: $primary-color;
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
    color: $negative-color;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary{
    color: $negative-color;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    color: $primary-color;
    background-color: $negative-color;
    border-color: $primary-color;
}

@import 'main-navbar';
@import 'home';
@import 'route-outline';
@import 'footer';
@import 'travelers';
@import 'volunteers';
@import 'province';
@import 'stage';
