// Theme by Beatriz Doblas for TransAndalus site
$font-stack: Raleway, Helvetica, sans-serif;
$primary-color: #317f6d;

body{
    background-color: lightskyblue;
}

h1 {
    font-family: $font-stack;
    font-size: 33px;
    font-weight: 800;
    line-height: 36.3px;
    text-transform: uppercase;
    color: white;
}

.navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-toggle{
    z-index: 1;
}

.navbar-toggle[aria-expanded=true]{
}

.navbar-collapse {
    @media screen and (max-width: 767px){
        position: absolute;
        right: 0px;
        top: 0px;
        padding-top: 34px;
        padding-right: 40px;
        background: $primary-color;
        text-align: left;
        width: 225px;
        box-shadow: none;
        z-index: 0;
    }
}

nav{
    a{
        font-family: $font-stack;
        font-size: 14px;
        text-transform: uppercase;
        color: white !important;
        background-color: transparent !important;
    }

    a:hover{
        @media screen and (max-width: 767px){
            color: white !important;
        }
        @media screen and (min-width: 768px){
            color: $primary-color !important;
        }

    }

    .dropdown-menu{
        background-color: transparent;
    }
}
