.vita-map-control{
    @media screen and (min-width: 768px){
        padding: 85px 10px 10px 20px;
    }

    @media screen and (max-width: 767px){
        padding: 20px 10px 10px 20px;
    }


    .btn{
        display: block;
        width: 300px;
        margin-bottom: 5px;
    }
}

#vita-search-box{
    @media screen and (min-width: 768px){
        min-width: 400px;
    }

    @media screen and (max-width: 767px){
        min-width: 100px;
    }

}

.vita-map-control-toggles-container{
    position: absolute;

    .list-group-item{

        padding-top: 12px;
        padding-bottom: 2px;

        @media screen and (min-width: 768px){
            font-size: 1.2em;
        }

        @media screen and (max-width: 767px){
            font-size: 1em;
        }

    }
}

.lbl-on{
    font-weight: bold;
    color: $text-color;
    cursor: pointer;
}

.lbl-off{
    font-weight: normal;
    color: $text-color;
    cursor: pointer;
}

.current-position-control{
    font-size: 18px;
    background-color: ghostwhite;
    margin: 10px;
    padding: 6px;
    color: dimgray;
}

.height_zero_xs{
    @media screen and (max-width: 767px){
        height: 0px !important;
    }
}
