<div class="container">
    <div class="footer-container">
        <footer>
            <nav role="navigation">
                <ul ta-menu="2">
                </ul>
            </nav>

            <address>
                <a href="mailto:transandalus@gmail.com">transandalus@gmail.com</a>&nbsp;&nbsp;|&nbsp;&nbsp;<span>Síguenos en</span>&nbsp;&nbsp;
                <a href="" target="_blank"><span class="icon-twitter">&nbsp;</span></a>
                <a href="" target="_blank"><span class="icon-facebook">&nbsp;</a>
                <a href="" target="_blank"><span class="icon-pinterest">&nbsp;</a>
                <a href="" target="_blank"><span class="icon-instagram"></a>
            </address>
            <p class="copyright" translate="footer">Copyright © TransAndalus 2017</p>
        </footer>
    </div>
</div>
