<div class="container-fluid">
    <div class="footer-container">
        <footer>
            <nav role="navigation" class="hidden-xs">
                <ul ta-menu="2">
                </ul>
            </nav>

            <address class="row">
                <div class="col-sm-6 email">
                    <a href="mailto:asociaciontransandalus@gmail.com" target="_blank">asociaciontransandalus@gmail.com</a>
                </div>
                <div class="col-sm-6 social">
                    <span translate="followus">Síguenos en</span>&nbsp;&nbsp;
                    <a href="https://twitter.com/transandalus" target="_blank"><span class="icon-twitter">&nbsp;</span></a>
                    <a href="https://www.facebook.com/TransandalusBTT/" target="_blank"><span class="icon-facebook">&nbsp;</span></a>
                    <a href="https://es.pinterest.com/search/pins/?q=transandalus&rs=typed&term_meta%5B%5D=transandalus" target="_blank"><span class="icon-pinterest">&nbsp;</span></a>
                    <a href="https://www.instagram.com/explore/tags/transandalus/" target="_blank"><span class="icon-instagram"></span></a>
                </div>
            </address>
            <p class="copyright" translate="footer">Copyright © TransAndalus 2017</p>
        </footer>
    </div>
</div>
